@mixin flex($direction, $justify-content ,$align-item) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-item;
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
}